body {
    background-color: #AEC6CF;
    font-family: "PT Serif", sans-serif;
}

h1 {
    color: #FFFFFF;
    font-family: "PT Sans";
}

.parent {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.children {
    text-align: left;
    display: inline-block
}

.children a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}