body {
    background-color: #AEC6CF;
    font-family: "PT Serif", sans-serif;
}

h1 {
    color: #FFFFFF;
    font-family: "PT Sans";
}

.parent {
    text-align: center;
}

.children {
    text-align: left;
    display: inline-block
}

ul {
    list-style-type: none;
}